body{
    background-color: grey;
}
p{
    font-family: ' monospace';
}
h6{
    font-family: monospace;
}
h2{
    font-family:  'sans-serif';
}
.a{
    border: 4px solid blue;
}
a{
    color: red;
}
.col-3{
    transition-duration: 500ms;
    border: 5px solid;
    background: grey;
    flex: 2 200px;
    height: 365px;
    
}

.col-3:hover{
    transform: scale(1.1);
    box-shadow: inset 0 0 2em gold, 0 0 6em red;
    height: 650px;
}