    .title {
        text-align: center;
        color: darkred;
    }
    
    .cc {
        text-align: center;
    }
    
    .background {
        background-image: url();
    }
    
    .img {
        width: 500px;
        height: 500px;
    }
    
    div.row {
        transform: scale(1.1);
    }
    
    .row:hover {
        box-shadow: 0 0 30px rgb(144, 5, 5);
    }
    
    .row.skew:hover {
        transform: skew(0deg);
    }